.tableContent .tblwrap table .imageProduct {
    aspect-ratio: 1/1;
    width: 5rem;
    height: 100%;
    object-fit: cover;
}

.chartDiagram {
    overflow-x: auto;
    width: 100%;
}

.tableContent .tblwrap {
    width: 100%;
    overflow-x: auto;
}

.tableContent .tblwrap table{
    width: 100%;
}

.tableContent .tblwrap table .number{
    width: 5%;
}

.tableContent .tblwrap table .images{
    width: 10%;
}

.tableContent .tblwrap table .name{
    width: 63%;
}

.tableContent .tblwrap table .prices{
    width: 14%;
}

.tableContent .tblwrap table .stock{
    width: 8%;
}



@media (max-width:1040px) {


  }



  @media (max-width:768px) {

    .tableContent .tblwrap {
        width: 100%;
        overflow-x: auto;
    }
    
    .tableContent .tblwrap table{
        width: 760px;
    }

  }


  
  @media (max-width:450px) {
    
    .tableContent .tblwrap {
        width: 100%;
        overflow-x: auto;
    }
    
    .tableContent .tblwrap table{
        width: 560px;
    }


  }